<div fxLayout="column">
  <div>
    <h1>Buscador de Héroes</h1>
  </div>
  <div fxLayout="column">
    <h3>Buscador</h3>
    <mat-form-field>
      <mat-label>Number</mat-label>
      <input
        type="text"
        placeholder="Pick one"
        aria-label="Number"
        matInput
        [(ngModel)]="term"
        [matAutocomplete]="auto"
        (input)="searchHero()"
      />
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="heroSelected($event)">
        <mat-option *ngFor="let hero of heroList" [value]="hero">
          {{ hero.superhero }}
        </mat-option>
        <mat-option value="" *ngIf="heroList.length === 0 && term.trim().length > 0">
          No se encontró nada con el término {{term}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div>
    <pre>
      {{heroFound | json}}
    </pre>
  </div>

</div>
