<h2>Reactivos: <small>Switches</small></h2>
<hr />

<form [formGroup]="myForm" (ngSubmit)="save()">
  <!-- Radio -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Género</label>
    <div class="col-sm-9">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          value="M"
          id="radioMale"
          formControlName="rdoGender"
        />
        <label class="form-check-label" for="radioMale"> Masculino </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          value="F"
          id="radioFemenine"
          formControlName="rdoGender"
        />
        <label class="form-check-label" for="radioFemenine"> Femenino </label>
      </div>
    </div>
  </div>

  <!-- Switches -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Notificaciones</label>
    <div class="col-sm-9">
      <div class="form-check form-switch mt-2">
        <input
          class="form-check-input"
          type="checkbox"
          id="switchNotifications"
          formControlName="chkNotifications"
        />
        <label class="form-check-label" for="switchNotifications"
          >Quiero recibir notificaciones</label
        >
      </div>
    </div>
  </div>

  <!-- Check -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          id="checkTerms"
          formControlName="chkConditions"
        />
        <label class="form-check-label" for="checkTerms">
          Términos y condiciones de uso
        </label>
      </div>
    </div>
  </div>

  <!-- Boton Submit -->
  <div class="row mb-3">
    <div class="col">
      <button type="submit" class="btn btn-primary float-end">Guardar</button>
    </div>
  </div>
</form>

<h5>Valor del formulario</h5>
<pre>{{ myForm.value | json }} </pre>
<br />

<h5>Persona</h5>
<pre>{{ person | json }} </pre>
<br />

<h5>Valid</h5>
<pre> {{ myForm.valid }} </pre>
<br />

