<div class="row mt-3">
  <div class="col-2"></div>
  <div class="col">
    <h3>Lista de propiedades</h3>
    <hr>
  </div>
</div>

<div class="row container">
  <div class="col-2"></div>
  <div class="col">
    <div class="row">
      <div class="col-4 mb-2" *ngFor="let prop of propiedades">
        <div class="card">
          <app-mini-mapa [lngLat]="prop.lngLat" class="card-img-top"></app-mini-mapa>
          <div class="card-body">
            <h5 class="card-title"> {{ prop.titulo }} </h5>
            <p class="card-text">{{ prop.descripcion }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
