<h2>Template: Básicos</h2>
<hr />

<div class="row">
  <div class="col">
    <form
      (ngSubmit)="save()"
      class="form"
      method="POST"
      #myForm="ngForm"
      autocomplete="off"
    >
      <!-- Campo de producto -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Producto</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            name="txtProduct"
            [ngModel]="initForm.product"
            placeholder="Nombre del producto"
            required
            minlength="3"
          />
          <span class="form-text text-danger"
            *ngIf="validateName()">
              * Debe de ser + de 3 letras
          </span>
        </div>
      </div>

      <!-- Precio de producto -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Precio</label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            name="txtPrice"
            [ngModel] = "initForm.price"
            placeholder="Precio del producto"
            required
            min="0"
          />
          <span class="form-text text-danger"
            *ngIf="validatePrice()">
              * El precio debe de ser mayor o igual a 0
          </span>
        </div>
      </div>

      <!-- Stock del producto -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Stock</label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            name="txtStock"
            [ngModel]="initForm.stock"
            customMin
            [minimum]="0"
            placeholder="Stock del producto"
            required
          />
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button [disabled]="myForm.invalid" type="submit" class="btn btn-primary float-end">
            Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col">
    <span> <b>Valid</b> </span>
    <pre>
      {{ myForm.valid }}</pre>

    <span> <b>Pristine</b> </span>
    <pre>
      {{ myForm.pristine }}</pre>

    <span> <b>Touched</b> </span>
    <pre>
      {{ myForm.touched }}</pre>

    <span><b>Value</b></span>
    <pre class="pre-style">{{ myForm.value | json }}</pre>

    <span><b>CustomDirective</b></span>
    <pre class="pre-style">{{ myForm.controls.txtStock?.errors | json }}</pre>
  </div>
</div>
