<div class="animate__animated animate__fadeIn animate__faster">
  <h2>Por Capital</h2>
  <hr />

  <div class="row">
    <div class="col">
      <app-country-input
        (onEnter)="searchCountryByCapital($event)"
        (onDebounce)="displaySuggestions($event)"
        placeholder="Buscar Por Capital"
      ></app-country-input>
    </div>
  </div>
</div>

<hr />
<div *ngIf="errorFound; else showTable" class="alert alert-danger">
  No se encontró nada con la palabra: {{ word }}
</div>

<ng-template #showTable>
  <div class="row">
    <div class="col">
      <app-country-table [countries]="countries"></app-country-table>
    </div>
  </div>
</ng-template>
