<h1>Dragon Ball Z</h1>
<hr />

<div class="row">
  <div class="col">
    <h3>Personajes</h3>
    <hr />
    <ul>
      <li>Krillin - 700</li>
      <li>Goku - 15 000</li>
      <li>Vegeta - 8500</li>
    </ul>
  </div>
  <div class="col">
    <h3>
      Agregar <small>{{ newCharacter.name }}</small>
    </h3>
    <hr />
    <form (ngSubmit)="add()">
      <input
        type="text"
        placeholder="Nombre"
        name="name"
        [(ngModel)]="newCharacter.name"
      />
      <!--
        [value]="newCharacter.name"
        (input)="changeName($event)"
      -->

      <input
        type="number"
        placeholder="Poder"
        name="power"
        [(ngModel)]="newCharacter.power"
      />
      <button type="submit">Agregar</button>
    </form>
  </div>
</div>
