<h2>Template: <small>Dinámicos</small></h2>
<hr />

<form (ngSubmit)="save()" autocomplete="off" #myForm="ngForm">
  <!-- Nombre -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Nombre : </label>
    <div class="col-sm-9">
      <input
        type="text"
        class="form-control"
        name="txtName"
        [ngModel]="person.name"
        placeholder="Nombre de la persona"
        required
      />
      <span
        class="form-text text-danger"
        *ngIf="
          myForm.controls.txtName?.errors && myForm.controls.txtName?.touched
        "
      >
        * Este campo es obligatorio
      </span>
    </div>
  </div>

  <!-- Agregar favorito -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Agregar : </label>
    <div class="col-sm-9">
      <div class="input-group">
        <input
          class="form-control"
          [(ngModel)]="newGame"
          name="newGame"
          (keyup.enter)="addNewGame()"
          placeholder="Agregar favorito"
        />
        <button
          class="btn btn-outline-primary"
          type="button"
          (click)="addNewGame()"
        >
          Agregar
        </button>
      </div>
    </div>
  </div>

  <!-- Lista de Juegos Favoritos -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Favoritos : </label>
    <div class="col-sm-9">
      <div
        class="input-group mb-1"
        *ngFor="let game of person.favorites; let i = index"
      >
        <input
          [(ngModel)]="game.name"
          [name]="'favorite_' + i"
          type="text"
          class="form-control"
          required
        />
        <button
          class="btn btn-outline-danger"
          type="button"
          (click)="remove(i)"
        >
          X
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <button
        [disabled]="myForm.invalid"
        class="btn btn-success float-end"
        type="button"
        (click)="save()"
      >
        Guardar
      </button>
    </div>
  </div>
</form>

<span><b>Persona : </b></span>
<pre> {{ person | json }} </pre>
