<h2>Reactivos: <small>Dinámicos</small></h2>
<hr />

<form class="form" [formGroup]="myForm" autocomplete="off" method="POST">
  <!-- Nombre -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Nombre : </label>
    <div class="col-sm-9">
      <input
        type="text"
        class="form-control"
        placeholder="Nombre de la persona"
        formControlName="txtPersonName"
      />
      <span *ngIf="isValidField('txtPersonName')" class="form-text text-danger">
        * Este campo es obligatorio
      </span>
    </div>
  </div>

  <!-- Agregar favorito -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Agregar : </label>
    <div class="col-sm-9">
      <div class="input-group">
        <input
          class="form-control"
          (keyup.enter)="addNewFavoriteGame()"
          placeholder="Agregar favorito"
          [formControl]="newFavorite"
        />
        <button
          class="btn btn-outline-primary"
          type="button"
          (click)="addNewFavoriteGame()"
        >
          Agregar
        </button>
      </div>
    </div>
  </div>

  <!-- Lista de Juegos Favoritos -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Favoritos : </label>
    <div class="col-sm-9" formArrayName="txtFavoriteGames">
      <div
        class="input-group mb-1"
        *ngFor="let favorite of favoriteGames.controls; let i = index"
      >
        <input [formControlName]="i" type="text" class="form-control" />
        <button
          class="btn btn-outline-danger"
          type="button"
          (click)="removeFavoriteGame(i)"
        >
          X
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <button class="btn btn-success float-end" type="button" (click)="save()">
        Guardar
      </button>
    </div>
  </div>
</form>

<div class="row">
  <div class="col">
    <span> <b>Valid</b> </span>
    <pre>      {{ myForm.valid }}</pre>

    <span><b>Value</b></span>
    <pre>{{ myForm.value | json }}</pre>

    <span><b>Agregar Juego - valid</b></span>
    <pre>      {{ newFavorite.valid }}</pre>

    <span><b>Agregar Juego - value</b></span>
    <pre>      {{ newFavorite.value | json }}</pre>
  </div>
</div>
<!--
<span><b>Persona : </b></span>
<pre> {{ person | json }} </pre>
-->
