<h1 class="mt-5">selector-page works!</h1>
<hr>

<form [formGroup]="miFormulario" (ngSubmit)="guardar()">
  <div class="row mb-3">
    <div class="col">
      <label class="form-label">Continente</label>
      <select class="form-control" formControlName="region">
        <option value="" selected>--- Seleccione Continente ---</option>
        <option value="1">América</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button class="btn btn-primary float-end">Guardar</button>
    </div>
  </div>
</form>

<h3 class="mt-5">Formulario</h3>

<pre>Valid: {{ miFormulario.valid }} </pre>
<pre>Value: {{ miFormulario.value | json }} </pre>

