<div class="text-layout">
  <h1>Pipes Básicos</h1>
  <p>Pipes incluídos en Angular - Usualmente en el Common Module</p>
</div>

<div class="p-grid">
  <div class="p-col-4">
    <p-card header="uppercase" [subheader]="lowerName">
      {{ lowerName | uppercase }}
    </p-card>
  </div>
  <div class="p-col-4">
    <p-card header="lowercase" [subheader]="upperName">
      {{ upperName | lowercase }}
    </p-card>
  </div>
  <div class="p-col-4">
    <p-card header="titlecase" [subheader]="fullName">
      {{ fullName | titlecase }}
    </p-card>
  </div>
</div>

<div class="text-layout">
  <h1>Date | Fecha | Pipe</h1>
  <p>Pipe para mostrar las fechas</p>
</div>

<div class="p-grid">
  <div class="p-col-6">
    <p-card>
      <ul>
        <li> today </li>
        <li> today | date </li>
        <li> today | date: 'short' </li>
        <li> today | date: 'long' </li>
        <li> today | date: 'dd/MM/yyyy' </li>
      </ul>

      <hr>

      <ul>
        <li> today | date:'long': 'GMT-6'  </li>
        <li> today | date:'long': 'GMT-4': 'es-PE'  </li>
        <li> today | date:'long': '':'en' </li>
        <li> today | date:'long': '':'fr' </li>
      </ul>

    </p-card>
  </div>
  <div class="p-col-6">
    <p-card>
      <ul>
        <li> {{ today }} </li>
        <li> {{ today | date }} </li>
        <li> {{ today | date:'short' }} </li>
        <li> {{ today | date:'long' }} </li>
        <li> {{ today | date:'dd/MM/yyyy' }} </li>
      </ul>

      <hr>

      <ul>
        <li> {{ today | date:'long': 'GMT-6' }} </li>
        <li> {{ today | date:'long': 'GMT-4': 'es-PE' }} </li>
        <li> {{ today | date:'long': '':'en' }} </li>
        <li> {{ today | date:'long': '':'fr' }} </li>
      </ul>
    </p-card>
  </div>
</div>

