<div class="animate__animated animate__fadeIn animate__faster">
  <h2>Por País</h2>
  <hr />

  <div class="row">
    <div class="col">
      <app-country-input
        (onEnter)="searchCountry($event)"
        (onDebounce)="displaySuggestions($event)"
        placeholder="Buscar País..."
      ></app-country-input>
    </div>
  </div>

  <ul
    *ngIf="activateSuggestions && suggestedCountries.length > 0"
    class="list-group"
  >
    <li
      *ngFor="let suggestedCounty of suggestedCountries"
      class="list-group-item list-group-item-action"
    >
      <a class="nav-link" [routerLink]="['/pais', suggestedCounty.alpha2Code]">
        {{ suggestedCounty.name }}
      </a>
    </li>
    <li
      class="list-group-item list-group-item-action"
      (click)="searchSuggestions(word)"
    >
      <a class="nav-link"> Buscar "{{ word }}" </a>
    </li>
  </ul>

  <hr />
</div>
<div *ngIf="errorFound; else showTable" class="alert alert-danger">
  No se encontró nada con la palabra: {{ word }}
</div>

<ng-template #showTable>
  <div class="row">
    <div class="col">
      <app-country-table [countries]="countries"></app-country-table>
    </div>
  </div>
</ng-template>
