<h2>Por País</h2>
<hr />

<div class="row">
  <div class="col">
    <app-country-input
      (onEnter)="searchCountry($event)"
      (onDebounce)="displaySuggestions($event)"
      placeholder= "Buscar País..."
    ></app-country-input>
  </div>
</div>

<hr />
<div *ngIf="errorFound; else showTable" class="alert alert-danger">
  No se encontró nada con la palabra: {{ word }}
</div>

<ng-template #showTable>
  <div class="row">
    <div class="col">
      <app-country-table [countries]="countries"></app-country-table>
    </div>
  </div>
</ng-template>
