<h1 class="mt-5">Agregar Producto</h1>
<hr />

<form [formGroup]="miFormulario">
  <div class="row g-3 align-items-center mb-3">
    <div class="col-auto">
      <label class="col-form-label">Nombre : </label>
    </div>
    <div class="col-auto">
      <input
        formControlName="txtNombre"
        [class]="validClass('txtNombre')"
        type="text"
      />
    </div>
    <div class="col-auto">
      <span
        error-msg
        [mensaje]="texto1"
        [color]="color"
        class="form-text"
        *ngIf="tieneError('txtNombre')"
        >Este mensaje será reemplazado por la directiva</span
      >
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <button (click)="cambiarTexto()" class="btn btn-primary">Guardar</button>
      <button (click)="cambiarColor()" class="btn btn-success mx-2">
        Cambiar color
      </button>
    </div>
  </div>
</form>

<h3 class="mt-5">Formulario</h3>
<pre>Valid : {{ miFormulario.valid }} </pre>
<pre>Value : {{ miFormulario.value | json }} </pre>

<div class="row mt-5" *customIf="!miFormulario.get('txtNombre')?.invalid">
  <div class="col">
    <div class="alert alert-primary">Todo Ok!</div>
  </div>
</div>
